<header class="jumbotron">
    <h1 class="text-center">CaelumPic</h1>
</header>
<main class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <form class="input-group">
                <span class="input-group-prepend">
                    <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
                </span>
                <input (input)="true" #inputBusca type="search" class="form-control" placeholder="filtrar pelo título da foto">
            </form>
        </div>
    </div>
    <div class="row">
        <app-card *ngFor="let foto of listaFotos| filtroPorTitulo:inputBusca.value" [foto]="foto" class="col-md-4">
            <a [routerLink]="['/editar', foto._id]" class="foto">
                <app-foto [url]="foto.url" [titulo]="foto.titulo"></app-foto>
            </a>
            <button class="btn btn-danger" (click)="deletar(foto)">
                Apagar
            </button>
        </app-card>
    </div>
</main>